/* Animation shake */
@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
}

.shake {
    animation: shake 0.5s;
}

/* Transition fluide pour les bordures */
input {
    transition: border-bottom 0.3s;
}

*{
	margin:0;
	padding:0;
	box-sizing: border-box;
	font-family: 'poppins', sans-serif;
}
body {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	background-image: url(LOGIN/img/img4.jpg);
	background-size: cover;
	background-position: center;
}
.container {
	position: relative;
	width: 640px;
	height: 440px;
	background: transparent;
	border: 2px solid #4A4A4A;
	border-radius: 10px;
	overflow: hidden;
}
.content {
	position: absolute;
	width: 50%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.content h2 {
	font-size: 30px;
	color: #fff;
	text-align: center;
	font-weight: 600;
}
.content hr {
	width: 80px;
	height: 5px;
	background: #FFD700;
	border-radius: 25px;
	margin-left: 39%;
	margin-top: 5px;
	bottom: 0;
}
.box {
	width: 70%;
	height: 40px;
	margin: 30px;
}
.fgpw{
	width: 60%;
	height: 02px;
	margin: 50px;
}
.box input {
	width: 100%;
	height: 48px;
	background: transparent;
	border: 0;
	outline: none;
	border-bottom: 1px solid #FFD700;
	border-radius: 40px;
	color: #fff;
	font-size: 18px;
}
::placeholder {
	font-size: 18px;
	color: #000;
}
.btn {
	width: 90%;
	height: 30px;
	background: #4A4A4A;
	color: #fff;
	border: 0;
	font-size: 18px;
	letter-spacing: 3px;
	border-radius: 40px;
	margin: 50px 10px;
	cursor: pointer;
	transition: 0.5s;
}
.btn:hover {
      background: #212121;
}

.text {
	position: absolute;
	width: 50%;
	height: 100%;
	top: 0;
	right: 0;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0 90px;
}
.text h2 {
	font-size: 28px;
	color: #FFD700;
	text-align: center;
	font-weight: 600;
	text-transform: uppercase;
}
.text p {
	color: #fff;
	font-size: 18px;
	margin-top: 02px;
	text-align: center;
}
.drop {
	position: absolute;
	width: 600px;
	height: 600px;
	top: 0;
	right: 0;
	background: #212121;
	transform: rotate(14deg) skewY(40deg);
	transform-origin: bottom right;
}
