/* Animation shake */
@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
}

.shake {
    animation: shake 0.5s;
}

/* Transition fluide pour les bordures */
input {
    transition: border-bottom 0.3s;
}

*{
	margin:0;
	padding:0;
	box-sizing: border-box;
	font-family: 'poppins', sans-serif;
}
body {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	background-image: url("img/Img1.jpg");
	background-size: cover;
	background-position: center;
}
.container {
	position: relative;
	width: 640px;
	height: 500px;
	background: transparent;
	border: 2px solid #4A4A4A;
	border-radius: 10px;
	overflow: hidden;
}

.logo-container {
    width: 100%;
    right: 60px;
    text-align: right;
    margin-top: 0;
    position: absolute;
    top: 5px;
    z-index: 10;
}

.Img3 {
    width: 200px;
    height: auto;
    mix-blend-mode: screen;
}
.content {
	position: absolute;
	width: 50%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	z-index: 10;
}
.content h2 {
	font-size: 30px;
	color: #0E2C61;
	text-align: center;
	font-weight: 600;
}
.content hr {
	width: 80px;
	height: 5px;
	background: #FF6B00;
	border-radius: 25px;
	margin-left: 39%;
	margin-top: 5px;
	bottom: 0;
}
.box {
	width: 70%;
	height: 40px;
	margin: 30px;
}
.fgpw{
	width: 60%;
	height: 02px;
	margin: 50px;
}
.box input {
	width: 100%;
	height: 48px;
	background: transparent;
	border: 0;
	outline: none;
	border-bottom: 1px solid #FF6B00;
	border-radius: 40px;
	color: #fff;
	font-size: 18px;
}
::placeholder {
	font-size: 18px;
	color: #000;
}
.btn {
	width: 90%;
	height: 30px;
	background: #7693a2;
	color: #fff;
	border: 0;
	font-size: 18px;
	letter-spacing: 3px;
	border-radius: 40px;
	margin: 50px 10px;
	cursor: pointer;
	transition: 0.5s;
}
.btn:hover {
      background: #0e2c61;
}

.text {
	position: absolute;
	width: 50%;
	height: 100%;
	top: 06%;
	right: 0;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0 90px;
	z-index: 1;
}
.text h2 {
	font-size: 28px;
	color: #FF6B00;
	text-align: center;
	font-weight: 600;
	text-transform: uppercase;
}
.text p {
	color: #112233;
	font-size: 18px;
	margin-bottom: 0;
	text-align: center;
}
